<form action="<%= action %>" method="<%= method %>">
    <label for="license_plate_number">Enter License Plate Number: </label>
    <input type="text" name="license_plate_number" value=<%- _car.license_plate_number %> >
</br>
    <label for="brand">Enter Brand: </label>
    <input type="text" name="brand" value= <%- _car.brand %> >
    <input type="submit" value="OK">
</form>